.carousel-section {
    margin-bottom: 1rem;
}

.carousel {
    height: 50vh;
    position: relative;
}

.slide {
    opacity: 0;
    transition: opacity 1s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide.active {
    opacity: 1;
    transition: opacity 1s linear;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn {
    position: absolute;
    top: 45%;
    color: white;
    font-size: 3rem;
    user-select: none;
    cursor: pointer;
}

.carousel__btn_previous {
    left: 1rem;
}

.carousel__btn_next {
    right: 1rem;
}

.carousel__btn_hovered:hover {
    color: #00E5FF;
}
